* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: radial-gradient(at 89% 20%, rgb(0, 0, 0) 0, transparent 81%),
    radial-gradient(at 39% 79%, rgb(0, 0, 60) 0, transparent 91%),
    radial-gradient(at 50% 50%, rgb(60, 0, 0) 0, transparent 82%),
    radial-gradient(at 15% 93%, rgb(120, 0, 0) 0, transparent 85%),
    radial-gradient(at 94% 75%, rgb(80, 20, 60) 0, transparent 78%),
    radial-gradient(at 100% 0%, rgb(30, 0, 50) 0, transparent 55%),
    radial-gradient(at 0% 0%, rgb(100, 0, 0) 0, transparent 85%);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
  --profile-border: rgb(100, 0, 0);
}

.light {
  --text-color: black;
  --bg-url: radial-gradient(at 89% 20%, rgb(255, 255, 255) 0, transparent 81%),
    radial-gradient(at 39% 79%, rgb(173, 216, 230) 0, transparent 91%),
    radial-gradient(at 50% 50%, rgb(255, 182, 193) 0, transparent 82%),
    radial-gradient(at 15% 93%, rgb(255, 99, 71) 0, transparent 85%),
    radial-gradient(at 94% 75%, rgb(255, 140, 0) 0, transparent 78%),
    radial-gradient(at 100% 0%, rgb(255, 215, 0) 0, transparent 55%),
    radial-gradient(at 0% 0%, rgb(255, 160, 122) 0, transparent 85%);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
  --profile-border: rgb(255, 160, 122);
}

body {
  background: var(--bg-url);
  height: 100%;
  min-height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100vw;
  max-width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  border-radius: 100%;
  box-sizing: content-box;
  padding: 0.2rem;
  border: 5px solid var(--profile-border);
  width: 112px;
}

#profile p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}

#switch {
  width: 64px;
  position: relative;
  height: 32px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background-color: white;
  border: 0;
  border-radius: 50%;
  background-image: var(--switch-bg-url);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-back 0.4s;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
  position: absolute;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  -webkit-backdrop-filter: blur(4px);
  font-weight: 500;
  text-decoration: none;
  transition: background 0.2s;
  text-align: center;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1px solid var(--text-color);
}

#social-links {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#octocat {
  position: absolute;
  right: 75px;
  bottom: -20px;
  max-height: 5em;
  animation: octocat-slide-back 0.4s forwards;
}

.light #octocat {
  animation: octocat-slide-in 0.4s forwards;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  flex-direction: column;
  padding-bottom: 24px;
  text-align: center;
  font-size: 14px;
}

/* @media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
} */

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}

@keyframes octocat-slide-in {
  0% {
    right: 75px;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    right: -80px;
    opacity: 1;
  }
}

@keyframes octocat-slide-back {
  0% {
    right: -75px;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    right: 65px;
    opacity: 1;
  }
}
